# Dependencies
node_modules/

# Playwright test results & reports
test-results/
playwright-report/
blob-report/

# Jest test results & reports
coverage/
jest_html_reporters.html
jest-html-reporters-attach/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Build output
dist/
build/
